<div class="panel-group" id="accordion">
  <div class="panel panel-default" id="letters">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to members_last_wishes_letters_path, :remote => true, :id => "letters_link" do %>
          <span class="toggle-icon glyphicon glyphicon-chevron-right"></span>
          My Letters
        <% end %>
        <span class="accordion_preloader" id="letters_preloader">
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        </span>
      </h4>
    </div>
    <div id="letters_panel" class="panel-collapse collapse">
      <div class="panel-body"></div>
    </div>
  </div>

  <div class="panel panel-default" id="musics">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to members_last_wishes_musics_path, :remote => true, :id => "musics_link" do %>
          <span class="toggle-icon glyphicon glyphicon-chevron-right"></span>
          My Music
        <% end %>
        <span class="accordion_preloader" id="musics_preloader">
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        </span>                      
      </h4>
    </div>
    <div id="musics_panel" class="panel-collapse collapse">
      <div class="panel-body"></div>
    </div>
  </div>

  <div class="panel panel-default" id="writings">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to members_last_wishes_writings_path, :remote => true, :id => "writings_link" do %>
          <span class="toggle-icon glyphicon glyphicon-chevron-right"></span>
          My Writings
        <% end %>
        <span class="accordion_preloader" id="writings_preloader">
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        </span>                      
      </h4>
    </div>
    <div id="writings_panel" class="panel-collapse collapse">
      <div class="panel-body"></div>
    </div>
  </div>

  <div class="panel panel-default" id="memories">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to members_last_wishes_memories_path, :remote => true, :id => "memories_link" do %>
          <span class="toggle-icon glyphicon glyphicon-chevron-right"></span>
          My Memories
        <% end %>
        <span class="accordion_preloader" id="memories_preloader">
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        </span>                      
      </h4>
    </div>
    <div id="memories_panel" class="panel-collapse collapse">
      <div class="panel-body"></div>
    </div>
  </div>

  <div class="panel panel-default" id="photos">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to members_last_wishes_photos_path, :remote => true, :id => "photos_link" do %>
          <span class="toggle-icon glyphicon glyphicon-chevron-right"></span>
          My Photos
        <% end %>
        <span class="accordion_preloader" id="photos_preloader">
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        </span>                      
      </h4>
    </div>
    <div id="photos_panel" class="panel-collapse collapse">
      <div class="panel-body"></div>
    </div>
  </div>

  <div class="panel panel-default" id="questionnaires">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to members_last_wishes_questionnaires_path, :remote => true, :id => "questionnaires_link" do %>
          <span class="toggle-icon glyphicon glyphicon-chevron-right"></span>
          My Questionnaires
        <% end %>
        <span class="accordion_preloader" id="questionnaires_preloader">
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        </span>                      
      </h4>
    </div>
    <div id="questionnaires_panel" class="panel-collapse collapse">
      <div class="panel-body"></div>
    </div>
  </div>

</div>