<table class="table">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Caption</th>
      <th>Download Button / Link</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% if @photos.each do |photo| %>
      <tr>
        <td><%= photo.file_file_name %></td>
        <td><%= photo.caption %></td>
        <td>Download</td>
        <td>
          <%= link_to icon('pencil'), edit_members_last_wishes_photo_path(photo), :remote => true, :class => 'btn btn-success btn-xs' %>
        </td>
        <td>
          <%= link_to icon('trash-o'), members_last_wishes_photo_path(photo), :method => :delete, :remote => true, :class => 'btn btn-danger btn-xs', :data => {:confirm => "Are you sure?"} %>
        </td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="5" class="text-center">
          <em>You haven't added any photo yet</em>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Add New Photo", new_members_last_wishes_photo_path, :class => "btn btn-success", :remote => "true" %>