<div class="main-nav navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <h1>
          <%= image_tag 'logo-white.png', :class => 'img-responsive' %>
        </h1>
      </a>                    
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">                 
        <li class="scroll <%= 'active' if current_page?(root_path) %>">
          <%= link_to 'Home', root_path(anchor: 'home') %>
        </li>
        <li class="scroll"><a href="/#services">Service</a></li> 
        <li class="scroll"><a href="/#about-us">About Us</a></li>                     
        <li class="scroll"><a href="/#testimonial">Testimonial</a></li>
        <li class="scroll"><a href="/#contact">Support</a></li>
        <li class="scroll"><a href="/#blog">Blog</a></li>
        <li class="cscroll <%= 'active' if current_page?(new_member_session_path) %>">
          <%= link_to "Log in", new_member_session_path %>
        </li>
        <li class="cscroll <%= 'active' if current_page?(new_member_registration_path) %>">
          <%= link_to "Join", new_member_registration_path %>
        </li>
      </ul>
    </div>
  </div>
</div>