<table class="table">
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Text</th>
      <th>Notes</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% if @writings.each do |writing| %>
      <tr>
        <td><%= writing.author %></td>
        <td><%= writing.title %></td>
        <td><%= writing.text %></td>
        <td><%= writing.notes %></td>
        <td>
          <%= link_to icon('pencil'), edit_members_last_wishes_writing_path(writing), :remote => true, :class => 'btn btn-success btn-xs' %>
        </td>
        <td>
          <%= link_to icon('trash-o'), members_last_wishes_writing_path(writing), :method => :delete, :remote => true, :class => 'btn btn-danger btn-xs', :data => {:confirm => "Are you sure?"} %>
        </td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="6" class="text-center">
          <em>You haven't added any writing yet</em>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Add New Writing", new_members_last_wishes_writing_path, :class => "btn btn-success", :remote => "true" %>