<!DOCTYPE html>
<html>
  <head>
    <title>AfterLife</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'devise', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container text-center" style="padding-top: 200px">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>AfterLife - <%= resource.class.name %></h2>
        </div>
        <div class="panel-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
